<header class="header">
    
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/tasks">Ver Lista de Tareas</a></li>
          <li><a href="/new-task">Agregar Nueva Tarea</a></li>
        </ul>
      </nav>
  </header>
  
  